*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  height: 100%;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
}

input,
textarea {
  font-family: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1151px !important; // remove the left & right paddings from xlarge's

  &--pall {
    padding-top: 2rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    padding-left: 1rem;

    @include breakpoint-up(large) {
      padding-top: 5rem;
      padding-right: 0;
      padding-bottom: 5rem;
      padding-left: 0;
    }

    @include breakpoint-up(xlarge) {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
  }
  &--py {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  &--px {
    padding-right: 1rem;
    padding-left: 1rem;

    @include breakpoint-up(large) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &--pt {
    padding-top: 2rem;

    @include breakpoint-up(large) {
      padding-top: 6rem;
    }
  }

  &--pb {
    padding-bottom: 2rem;
    @include breakpoint-up(large) {
      padding-bottom: 6rem;
    }
  }
  &--pr {
    padding-right: 1.25rem;
  }
  &--pl {
    padding-left: 1.25rem;
  }
}

.container2 {
  margin-right: auto;
  margin-left: auto;
  max-width: 1389px !important; // remove the left & right paddings from xlarge's

  &--pall {
    padding: 9px;

    @include breakpoint-up(large) {
      padding: 16px;
    }
  }

  &--pall {
    padding-top: 2rem;
    padding-right: 9px;
    padding-bottom: 2rem;
    padding-left: 9px;

    @include breakpoint-up(large) {
      padding-top: 5rem;
      padding-right: 0;
      padding-bottom: 5rem;
      padding-left: 0;
    }
  }

  &--px {
    padding: 0 9px;

    @include breakpoint-up(large) {
      padding: 0 16px;
    }
  }

  &--pt {
    padding-top: 9px;

    @include breakpoint-up(large) {
      padding-top: 0 16px;
    }
  }
}

//Flexbox utility
.flex {
  display: flex;

  &-fd-c {
    flex-direction: column;
  }

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-jc-sa {
    justify-content: space-around;
  }

  &-ai-c {
    align-items: center;
  }
  &-ai-s {
    align-items: flex-start;
  }
}

button {
  background-color: $secondary;
  border: none;
  padding: 10px 30px;
  border-radius: 8px;
  cursor: pointer;
  color: black;

  @include breakpoint-up(medium) {
    padding: 15px 35px;
  }
}
