// 640px, 1024px, 1200px,1600px
$breakpoints-up: (
  'small': '40em',
  'medium': '64em',
  'large': '75em',
  'large1440': '90em',
  'xlarge': '100em'
);

//639px, 1023px , 1199px,1599px
$breakpoints-down: (
  'xsmall': '39.9375em',
  'small': '63.9375em',
  'medium': '74.9375em',
  'large': '99.9375em'
);

@mixin breakpoint-up($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin retina() {
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}

@mixin center() {
  display: grid;
  place-items: center;
  @content;
}
