@use '../../../../../styles/mixins';

.countdown {
  display: grid;
  place-items: center;

  &Timer {
    display: flex;
    gap: 20px;

    &Text {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40px;

      @include mixins.breakpoint-up(medium) {
        width: 90px;
      }
    }
  }
}
